.container {
	-fx-background-color: #3e3e3e;
	-fx-font-family: "Gruppo";
}

.title {
	-fx-text-fill: #8080ff; 
	-fx-font-size: 38px;
}

.number {
	-fx-text-fill: #c0c0c0; 
	-fx-font-size: 28px;
}

.buttons {
	-fx-background-color: #fff;
	-fx-text-fill: #48b2ee;
	-fx-font-size: 38px;
	-fx-min-width: 60px;
	-fx-min-height: 60px; 
	-fx-background-radius: 30px;
}

.green {
	-fx-text-fill: #00ff00;
}

.red {
	-fx-text-fill: #ff0000;
}


